{# src/Sdz/BlogBundle/Resources/views/layout.html.twig #}

<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Carnet de Voyage{% endblock %}</title>

        <!-- déclaration des css -->
        {% stylesheets 'bundles/carnetvoyagemap/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}

        <!-- déclaration des fichiers js -->
        {% block javascripts %}
            <script src="{{ asset('bundles/carnetvoyagemap/js/bootstrap.js') }}" type="text/javascript" ></script>
            <script src="{{ asset('bundles/carnetvoyagemap/js/jquery-1.9.1.js') }}" type="text/javascript"></script>
            <script src="{{ asset('http://code.jquery.com/jquery-migrate-1.0.0.js') }}" type="text/javascript"></script>
            <script src="{{ asset('bundles/carnetvoyagemap/js/jquery-ui-1.10.0.custom.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/jquery.vmap.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/select2.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/cloud-carousel.1.0.5.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/jquery.bpopup-0.8.0.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/world.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/france.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/roumanie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/usa.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/afghanistan.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/afrique_du_sud.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/albanie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/algérie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/arménie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/autriche.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/belgique.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/bielorussie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/bosnie_herzégovine.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/botswana.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/bulgarie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/burkina_faso.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/burundi.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/bénin.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/cameroun.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/colombie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/congo.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/corée_du_nord.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/costa_rica.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/cote_d_ivoire.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/djibouti.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/egypte.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/ethiopie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/georgie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/ghana.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/guatemala.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/guyane.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/hongrie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/indonésie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/irak.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/islande.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/israël.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/jordanie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/kenya.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/kirghizistan.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/laos.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/lesotho.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/lettonie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/liberia.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/libye.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/lituanie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/macedoine.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/malawi.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/mali.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/maroc.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/namibie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/nicaragua.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/niger.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/ouganda.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/pakistan.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/paraguay.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/pologne.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/pérou.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/rwanda.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/république_centrafricaine.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/république_démocratique_congo.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/république_tchèque.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/sahara_occidental.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/salvador.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/slovaquie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/slovénie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/somalie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/suisse.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/suriname.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/syrie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/sénégal.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/tadjikistan.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/tchad.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/togo.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/turkménistan.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/ukraine.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/uruguay.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/zambie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/carnetvoyagemap/js/pays/zimbabwe.js') }}" type="text/javascript"></script>
        {% endblock %}    
    </head>
    
    <body>
        <div class="container">
            <div id="header" class="hero-unit">
                <h1></h1>
            </div>

            <!-- Menu -->
            <div class="row">
                        <ul id="menu" class="nav nav-pills nav-stacked">
                            <li><a href="{{ path('CarnetVoyageMapAcceuil') }}">Accueil</a></li>
                            <li><a href="{{ path('CarnetVoyageMapAjouterVoyage') }}">Ajouter un voyage</a></li>
                            <li>
                                <a href="#">Modifier un voyage</a>
                                <ul class="sousMenu">
                                    {% render "CarnetVoyageMapBundle:Map:listTrip" %}
                                </ul>
                            </li>
                            <li><a href="{{ path('CarnetVoyageMapAjouterPhoto') }}">Ajouter des photos</a></li>
                        </ul>
                <div id="content" class="span9">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>

            <hr>

            <footer>
                <p>Aude LE BRAS</p>
            </footer>
        </div>
         <script>
			$(function() {
				$( "#menu" ).menu();
			});
		</script> 
    </body>
</html>
