{# src/Sdz/BlogBundle/Resources/views/layout.html.twig #}

<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Carnet de Voyage{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/CarnetVoyageMap/css/bootstrap.css') }}" type="text/css" />
            <link rel="stylesheet" href="{{ asset('bundles/CarnetVoyageMap/css/jqvmap.css') }}" type="text/css" media="screen" />
            <link rel="stylesheet" href="//code.jquery.com/ui/1.8.12/themes/cupertino/jquery-ui.css" />
            <link rel="stylesheet" href="{{ asset('bundles/CarnetVoyageMap/css/select2.css') }}" type="text/css" />
        {% endblock %}

        {% block javascripts %}
            <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>-->
            <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
            <!--<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>-->
            <script src="{{ asset ('http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js') }}" type="text/javascript"></script>
            <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/jquery.vmap.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/select2.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/select2.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/world.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/france.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/roumanie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/usa.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/afghanistan.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/afrique_du_sud.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/albanie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/algérie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/arménie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/autriche.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/belgique.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/bielorussie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/bosnie_herzégovine.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/botswana.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/bulgarie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/burkina_faso.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/burundi.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/bénin.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/cameroun.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/colombie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/congo.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/corée_du_nord.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/costa_rica.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/cote_d_ivoire.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/djibouti.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/egypte.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/ethiopie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/georgie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/ghana.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/guatemala.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/guyane.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/hongrie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/indonésie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/irak.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/islande.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/israël.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/jordanie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/kenya.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/kirghizistan.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/laos.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/lesotho.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/lettonie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/liberia.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/libye.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/lituanie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/macedoine.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/malawi.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/mali.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/maroc.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/namibie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/nicaragua.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/niger.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/ouganda.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/pakistan.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/paraguay.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/pologne.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/pérou.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/rwanda.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/république_centrafricaine.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/république_démocratique_congo.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/république_tchèque.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/sahara_occidental.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/salvador.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/slovaquie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/slovénie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/somalie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/suisse.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/suriname.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/syrie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/sénégal.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/tadjikistan.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/tchad.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/togo.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/turkménistan.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/ukraine.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/uruguay.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/zambie.js') }}" type="text/javascript"></script>
            <script src="{{ asset ('bundles/CarnetVoyageMap/js/zimbabwe.js') }}" type="text/javascript"></script>
        {% endblock %}    
    </head>
    
    <body>
        <div class="container">
            <div id="header" class="hero-unit">
                <h1>Mon carnet de voyage</h1>
            </div>

            <div class="row">
                <div id="menu" class="span3">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="menu"><a href="{{ path('CarnetVoyageMapAcceuil') }}">Accueil</a></li>
                            <li class="menu"><a href="{{ path('CarnetVoyageMapAjouterVoyage') }}">Ajouter un voyage</a></li>
                            <li class="menu">
                                Modifier un voyage
                                <ul>
                                    {% render "CarnetVoyageMapBundle:Map:list_trip" %}
                                </ul>
                            </li>
                        </ul>
                </div>
                <div id="content" class="span9">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>

            <hr>

            <footer>
                <p>Aude LE BRAS</p>
            </footer>
        </div> 
    </body>
</html>