{# src/CarnetVoyage/MapBundle/Resources/views/Map/see_country.html.twig #}

{% extends "CarnetVoyageMapBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{ value }}{% endblock %}

{% block body %}        
    <h1>Souvenirs de voyage : {{ value }}</h1>
    <!-- This is the container for the carousel. -->
    <div id = "carousel1">            
        <!-- All images with class of "cloudcarousel" will be turned into carousel items -->
        <!-- You can place links around these images -->
        
        <!-- Define left and right buttons. -->
        <div id="left-but" class="carouselBut"></div>
        <div id="right-but" class="carouselBut"></div>
        <!-- Define elements to accept the alt and title text from the images. -->
        <div id="carousel-title"></div>
        <div id="carousel-alt"></div>
    </div>
    <div id='worldmap'></div>
    <script type="text/javascript">
        $(document).ready(function() 
        {
            var labelPerso = {{ labelRegion|raw }};
            
            //cacher le div du carousel
            $('#carousel1').hide();
            
            $('#worldmap').vectorMap(
            {
                map: '{{ value }}',
                hoverOpacity: 0.5,
                hoverColor: false,
                colors: {{ colorRegion|raw }}, 
                backgroundColor: "tranparent",
                borderColor: "#000000",
                selectedColor: "#EC0000",
                
                onRegionClick: function(element, pays)
                {
                	element.preventDefault();
                	$('#photos').remove(); 
                	PhotosLoad(pays);
                },
                
                onLabelShow: function(e, label, code)
                {
                    label.html(''+label.text()+'<br/>'+
                    labelPerso[code]);
                }
            });
            
        });
        
        function Carousel()
	    {
	        $("#carousel1").CloudCarousel(		
            {			
                xPos: 500,
                yPos: 50,
                yRadius:100,
                reflHeight: 56,
                reflGap:2, 
                buttonLeft: $("#left-but"),
                buttonRight: $("#right-but"),
                altBox: $("#carousel-alt"),
                titleBox: $("#carousel-title"),
                autoRotate: 'right',
                autoRotateDelay: 6000,
                speed:0.1, 
            });
	    }
	    
	    function PhotosLoad(region)
	    {
	    	$.ajax({
               type: "POST",
               url: "../listPhotos/" + region,
               async: false,
               success: function(msg)
               {
                   $('#carousel1').append('<div id ="photos">' + msg + '</div>');
                   Carousel();
                   $('#carousel1').bPopup();
               }
           });
	    }
    </script>
{% endblock %}